/* Main Custom CSS */
html,
body {
  overflow: hidden;
}

#page {
  overflow: auto;
  scroll-behavior: smooth;
}

/* custom scroll bar end */
#page::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* draggable part */
#page::-webkit-scrollbar-thumb {
  background-color: #1d1d1d;
  border-radius: 10px;
  border: 1px solid #fafafa;
}

#page::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

#page::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

#page::-webkit-scrollbar-horizontal {
  height: 10px;
}

#page::-webkit-scrollbar-thumb {
  background-color: #1d1d1d;
  border-radius: 10px;
}
/* custom scroll bar end */

/* custom transitions */
.transition-bg {
  transition: background-color 1s ease-in-out;
}
