/* Main Custom CSS */
html,
body {
  overflow: hidden;
}

/* Noto Sans Tagalog (nts-regular) */
.nts-s {
  font-family: "Noto Sans Tagalog", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #222222;
}

.nts-m {
  font-family: "Noto Sans Tagalog", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #222222;
}

.nts-l {
  font-family: "Noto Sans Tagalog", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #222222;
}

.nts-xl {
  font-family: "Noto Sans Tagalog", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #222222;
}

.nts-xxl {
  font-family: "Noto Sans Tagalog", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #222222;
}

.nts-xxxl {
  font-family: "Noto Sans Tagalog", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  color: #222222;
}

/* Josefin Slab (js-regular) */
.js-s {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 1rem;
  color: #222222;
}

.js-m {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #222222;
}

.js-l {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 2rem;
  color: #222222;
}

.js-xl {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #222222;
}

.js-xxl {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 3rem;
  color: #222222;
}

.js-xxxl {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 3.5rem;
  color: #222222;
}

/* Patrick Hand (ph-regular) */
.ph-s {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-size: 1rem;
  color: #222222;
}

.ph-m {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: #222222;
}

.ph-l {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-size: 2rem;
  color: #222222;
}

.ph-xl {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  color: #222222;
}

.ph-xxl {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-size: 3rem;
  color: #222222;
}

.ph-xxxl {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-size: 3.5rem;
  color: #222222;
}

/* custom transitions */
.transition-bg {
  transition: background-color 1s ease-in-out;
}
